<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Num Images</title>
</head>
<body>
    <div th:if="${NumList.amount < 2}">
        <h2 th:text="${'Generating ' + NumList.amount + ' random number:' }"/>
    </div>
    <div th:unless="${NumList.amount < 2}">
        <h2 th:text="${'Generating ' + NumList.amount + ' random numbers:' }"/>
    </div>

    <ul th:each="number: ${NumList.setOfNum}">
        <li th:text="${'number '+number}"/>
        <img th:src="@{${'number' + number + '.jpg'}}" width=200 height=200/>
        <br>
    </ul>
</body>
</html>