<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generator </title>
</head>
<body>
    <h3> How many numbers do you want to generate? </h3>
    <form 
        action="#"
        th:action="@{/generate}"
        >
        
        <input th:type="text" th:field="${ImageNum.amount}"/>
        <input type="submit" value="GENERATE"/>
    
    </form>

</body>
</html>